.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--text-h);
}

.required {
  color: #d32f2f;
  margin-left: 2px;
}

.requiredHint {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: #d32f2f;
  margin-top: -4px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4px;
}

.scrollable {
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 12px;
}

.optionLabel {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.radio {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  min-width: 16px;
  flex-shrink: 0;
  border: 2px solid #bbb;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transform: translateY(-1px);
  transition:
    border-color 0.15s,
    background-color 0.15s;
}

.radio:checked {
  background-color: #183eff;
  border-color: #183eff;
}

.radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza perfeitamente a bolinha interna */
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%; /* Garante que a bolinha de dentro também seja redonda */
}
.optionText {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.12px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.errorMessage {
  font-size: 12px;
  color: #d32f2f;
}

@media (min-width: 768px) {
  .label {
    font-size: 15px;
  }

  .optionLabel {
    font-size: 15px;
  }
}
